################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleHackerRank/v15
/ConsoleHackerRank/bin
/ConsoleHackerRank/obj
